<%lovers = @party.lovers%>
<%not_lovers = @party.not_lovers%>

<h3>
スクロールすると結果が見られます<br><br><br>
なんと今回・・・・<br>
<% (1..99).each do |i| %>
  ↓<br>
  <%= "(ドキドキ)<br>".html_safe if i%10==0%>
<%end%>
</h3>

<% if lovers.count >= 1%>
  <bignews>
  <%=lovers.count%>組のカップルが誕生しました！！！！！！<br><br>
  <% lovers.each do |boy,girl|%>
    <%=boy.name%> & <%=girl.name%>カップル<br>
  <%end%>
  おめでとうございま〜〜〜す！！！<br>
  <iframe width="640" height="360" src="https://www.youtube.com/embed/lVIHyj9qVy0" title="ヤバイTシャツ屋さん - 「ハッピーウェディング前ソング」Music Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <br>
  </bignews>

<%else%>
  <h1>
  カップルは誕生しませんでした・・・・・<br>
  </h1>
  <br>
  いつかまた素敵な出会いがあることを願っています<br>
<%end%>

<% if not_lovers.count >=1 %>
  <br>
  【残念ながら結ばれなかった方達】<br>
  <%not_lovers.each do |user|%>
    <%= user.name%><br>
  <%end%>
  次こそリベンジを狙いましょう！<br>
<%end%>
<%= link_to "トップページに戻る" ,  root_url%><br>