<%couples = @party.couples%>
<%not_couples = @party.not_couples%>

<h3>
スクロールすると結果が見られます<br><br><br>
なんと今回・・・・<br>
<% (1..99).each do |i| %>
  ↓<br>
  <%= "(ドキドキ)<br>".html_safe if i%10==0%>
<%end%>
</h3>

<% if couples.count >= 1%>
  <bignews>
  <%=couples.count%>組のカップルが誕生しました！！！！！！<br><br>
  <% couples.each do |boy,girl|%>
    <%=boy.name%> & <%=girl.name%>カップル<br>
  <%end%>
  おめでとうございま〜〜〜す！！！<br>
  <iframe width="640" height="360" src="https://www.youtube.com/embed/lVIHyj9qVy0" title="ヤバイTシャツ屋さん - 「ハッピーウェディング前ソング」Music Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <br>
  </bignews>

<%else%>
  <h1>
  カップルは誕生しませんでした・・・・・<br>
  </h1>
  <iframe width="640" height="360" src="https://www.youtube.com/embed/vcGnSjTsjRA?si=Jdli44TWc_C-DbmL" title="僕は君の事が好きだけど君は僕を別に好きじゃないみたい" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <br>
  いつかまた素敵な出会いがあることを願っています<br>
<%end%>

<% if not_couples.count >=1 %>
  <br>
  【残念ながら結ばれなかった方達】<br>
  <%not_couples.each do |user|%>
    <%= user.name%><br>
  <%end%>
  次こそリベンジを狙いましょう！<br>
<%end%>
<%= link_to "トップページに戻る" ,  root_url%><br>