<%users = @party.users%>
<%boys = @party.boys%>
<%girls = @party.girls%>
<%lovers = @party.lovers%>
<%not_lovers = @party.not_lovers%>

<% provide(:title, @party.name) %>
<h1>
  パーティ名
  <%= @party.name %><br>
</h1>





<% if @party.status == "recruiting"%>
  フィーリングカップルのためのメンバーを<br>
  どんどん追加していきましょう!<br>
  <h3>
  男の子：<%= boys.count %>人<br>
  <%boys.each do |boy|%>
    <div class="user-container">
      <%= boy.name%>
      <%= button_to "削除", boy, method: :delete%>
    </div>
  <%end%>
  <br>
  女の子：<%= girls.count%>人<br>
  <%girls.each do |girl|%>
    <div class="user-container">
      <%= girl.name%>
      <%= button_to "削除", girl, method: :delete%>
    </div>
  <%end%>
  </h3>
  <br><br><br>
  【メンバーの追加はこちら】
  <section class="user_form">
    <%= render 'shared/user_form' %>
  </section>
  <br><br><br>
  【メンバーを締め切る場合はこちら］
  <%= button_to '締切', party_path(@party), {method: :put, params: { status: 'choosing' }}%>






<% elsif @party.status == "choosing"%>
  ドキドキ投票タイムです!<br><br>
  ①自分の名前をクリック (他人の名前は勝手にクリックしないこと！)<br>
  ②好きな人をこっそり投票<br>
  ③全員の投票が終わったら，終了ボタンをクリック<br>
  <h3>
  男の子：<%= boys.count %>人<br>
  <% boys.each do |boy| %>
    <%if boy.has_choosed?%>
      <%= boy.name%>(投票済み)<br>
    <%else%>
       <%= link_to boy.name , boy %><br>
    <%end%>
  <%end%>
  <br>
  女の子：<%= girls.count %>人<br>
  <% girls.each do |girl| %>
    <%if girl.has_choosed?%>
      <%= girl.name%>(投票済み)<br>
    <%else%>
      <%= link_to girl.name , girl %><br>
    <%end%>
  <%end%>
  </h3>
  <br><br><br>
  【結果発表はこちら】
  <%= button_to '結果発表', party_path(@party), {method: :put, params: { status: 'resulting' },data: { turbo_confirm: "心の準備はいいですか?" }}%>







<% elsif @party.status == "resulting"%>
  <h3>
  なんと今回・・・・
  <br><br><br><br><br><br><br><br><br><br><br><br>
  </h3>

  <% if lovers.count >= 1%>
    <h1>
    <%=lovers.count%>組のカップルが誕生しました！！!!!!!<br>
    <% lovers.each do |boy,girl|%>
      <%=boy.name%> & <%=girl.name%>カップル<br>
    <%end%>
    おめでとうございま〜〜〜す！！！<br>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/lVIHyj9qVy0" title="ヤバイTシャツ屋さん - 「ハッピーウェディング前ソング」Music Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </h1>

  <%else%>
    <h1>
    カップルは誕生しませんでした・・・・・<br>
    </h1>
    <br>
    いつかまた素敵な出会いがあることを願っています<br>
  <%end%>

  <% if not_lovers.count >=1 %>
    【残念ながら結ばれなかった方達】<br>
    <%not_lovers.each do |user|%>
      <%= user.name%><br>
    <%end%>
    <br>
    次こそリベンジを狙いましょう！<br>
  <%end%>
  <%= link_to "トップページ" ,  root_url%><br>
<% end %>



<br><br><br>
【パーティを削除する場合はこちら】ß
<%= button_to "削除", @party, method: :delete , data: { turbo_confirm: "本当に削除しますか？" } %>

<style>
.user-container {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  gap: 20px
}
</style>