<% provide(:title, @party.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="party_info">
      <h1>
        パーティ名<br>
        <%= @party.name %><br>
        <br>
        男の子<%= @users.count{|u|u.sex=="boy"}%>人<br>
        <%@users.each do |user|%>
          <%if user.sex=="boy"%>
            <%=user.name%><br>
          <%end%>
        <%end%>
        <br>
        女の子<%= @users.count{|u|u.sex=="girl"}%>人<br>
        <%@users.each do |user|%>
          <%if user.sex=="girl"%>
            <%=user.name%><br>
          <%end%>
        <%end%>
        
      </h1>

      <% if @party.status == "recruiting"%>
          フィーリングカップルのためのメンバーを<br>
          どんどん追加していきましょう!<br>
          <section class="user_form">
            <%= render 'shared/user_form' %>
          </section>
        <% end%>

    <br><br>
    パーティを削除する場合はこちら
    <%= button_to "削除", @tparty, method: :delete %>
    </section>
  </aside>
</div>
