<% provide(:title, @party.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="party_info">
      <h1>
        パーティ名<br>
        <%= @party.name %>
        <br>
        <br>
        <br>
        現在のメンバー数<%= @users.count %><br>
        <%@users.each do |user|%>
          <%=user.name%> <%= user.sex%><br>
        <%end%>
        
      </h1>

      <% if @party.status == "登録中"%>
          フィーリングカップルのためのメンバーを<br>
          どんどん追加していきましょう!<br>
          <section class="user_form">
            <%= render 'shared/user_form' %>
          </section>
        <% end%>
    </section>
  </aside>
</div>
