<% provide(:title, @party.name) %>
<h1>
  卓名
  <%= @party.name %><br>
</h1>
(このページのURLをシェアするとお友達と一緒に遊べます)<br><br>


<% if @party.status == "registering"%>
  <%= render "registering_section"%>

<% elsif @party.status == "choosing"%>
  <%= render "choosing_section"%>

<% elsif @party.status == "resulting"%>
  <%= render "resulting_section"%>

<% end %>



<br>
【卓を削除する場合はこちら】
<%= button_to "削除", @party, method: :delete , data: { turbo_confirm: "本当に削除しますか？" },class: "btn btn-danger" %>

<%if Rails.env.development? %>
  <br>
  ここから開発中のみ見えるデバッグ表示のはず<br>
  <%= @party.inspect %>
<%end%>



