<% provide(:title, @user.name) %>
<% party = @user.party %>

<%if party.status != "choosing"%>
  ここは本来，<%=@user.name%>さんの好きな人を投票するためのページです。<br>
  今はこのユーザーの投票受付中ではないので、<br>
  上のボタンからトップページにお戻りください。<br>

<%elsif !@user.has_choosed%>
  <h1>
    <%= @user.name %>さんの好きな人を選ぶページです！<br>
    間違えて来た人は<%=link_to "ここをクリック", party %>して戻りましょう<br>
  </h1>
  <br>
  <%if party.allow_like%>
    <%= render "love_like_form"%>
  <%else%>
    <%= render "love_form"%>
  <%end%>

<%else%>
  このユーザーはすでに投票済みです．
  誰に投票したかは・・内緒です！<br>
  <%=link_to "卓のページへ戻る", party %>
<%end%>

<%if Rails.env.development? %>
  <br>
  ここから開発中のみ見えるデバッグ表示のはず<br>
  <br>
  本命<br>
  <%= @user.loving.inspect%><br>
  好きな人<br>
  <%= @user.liking.inspect%><br>
  好かれてる人<br>
  <%= @user.likers.inspect%><br>
  ユーザーパラメータ<br>
  <%= @user.inspect%>
<%end%>


<br><br>

