<%@newuser = @party.users.build%>
<%= form_with(model: @newuser) do |f| %>
  <div class="field">
    <%= f.text_area :name, placeholder: "新しいメンバーの名前" %>
  </div>
  <%= f.label :boy, '男の子' %>
  <%= f.radio_button :sex, :boy %>
  <br>
  <%= f.label :girl, '女の子' %>
  <%= f.radio_button :sex, :girl %>
  <br>
  <%= f.submit "追加", class: "btn btn-primary" %>
  <br>
<% end %>

<% flash.each do |message_type, message| %>
  <% if message_type == "userform" %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end%>
<% end %>